@media (max-width: 780px) {
  .instructions {
    width: 100vw;
    margin-inline: 0;
  }
  .big-nav {
    display: none !important;
  }

  .buttons {
    align-items: center;
    flex-direction: column;
    align-items: center;

    div {
      width: 100%;
      // display: flex;
      height: fit-content;
    }
    button {
      align-self: flex-end;
      margin-block-start: 20px;
    }
  }
}
@media (min-width: 780px) {
  .hamburger {
    display: none;
  }
}
